<div class="container my-3">
    <div class="jumbotron">
        <h1 class="display-4">About the creator.</h1>
        <p class="lead">Creator is a guy who want's to be organized and keep tabs of his day to day tasks. So, he created this To-do List app to meet his needs. This app was created using Angular and Bootstrap. Feel free to use this app and send feedback and regards to the creator.</p>
        <hr class="my-4">
        <p>P.S.</p>
        <p>mail: pratyushsahu.sde@gmail.com</p>
        <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
    </div>
</div>